<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="css/style.css">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    {% block desc %}{% endblock %}
	
</head>

<body>
    <nav class="bg-white h-[95px] flex justify-between px-[40px]">
		<img class="max-w-full" src="images/logo.png" alt="Logo CUEJ" />

		<button class="btn z-[20]" role="button">
	    <img src="images/icon-burger.svg" alt="icon menu" />
		</button>

		<ul class="menu transition duration-300 fixed flex flex-col gap-y-[30px] items-center justify-center inset-0 bg-red-500 z-[19] text-white text-4xl">
		    <li class="sub-menu cursor-pointer text-[32px]">
			Nos amis les bêtes <i class="bi bi-chevron-down"></i>
			<ul class="hidden mt-[10px] pl-[20px] text-[24px]">
			    <li class="">
				<a class="" href="#">Animaux Stars</a>
			    </li>
			    <li>
				<a class="" href="#">Faire le deuil de son animal</a>
			    </li>
			    <li>
				<a href="#">Cirques</a>
			    </li>
			    <li>
				<a href="#">Loup : Protection et regulation</a>
			    </li>
			    <li>
				<a href="#">Loup : Protection et regulation</a>
			    </li>
			</ul>
		    </li>

		    <li class="sub-menu cursor-pointer text-[32px]">
			Nos amis les bêtes <i class="bi bi-chevron-down"></i>
			<ul class="hidden mt-[10px] pl-[20px] text-[24px]">
			    <li class="">
				<a class="" href="#">Animaux Stars</a>
			    </li>
			    <li>
				<a class="" href="#">Faire le deuil de son animal</a>
			    </li>
				<li>
				<a href="#">Cirques</a>
			    </li>
			    <li>
				<a href="#">Loup : Protection et regulation</a>
			    </li>
			    <li>
				<a href="#">Loup : Protection et regulation</a>
			    </li>
			</ul>
		    </li>
		</ul>
	</nav>





	
	<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
	<script src="js/main.js"></script>
	
</body>

</html>